.snap-btn {
  background: red;
  border: 2px solid red;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 12px;
  right: 12px;
}

.snap-btn:hover {
  background-color: white;
  color: red;
}
